/* JobListings.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(227, 237, 237);
}

/* Navbar styles */

#navbar {
    color: #2b3940;
    padding: 10px 80px;
}

.nav-items {
    padding: 10px 30px;
    border-radius: 4px;
}

.nav-items:hover {
    background-color: #00b074;
    color: white;
}

#logo {
    font-weight: bold;
    font-size: 30px;
}

#active-item {
    background-color: #00b074;
    color: white;
}

#active-item:hover {
    color: #2b3940;
    background-color: rgb(227, 237, 237);
}

/* Scrolled navbar */

.scrolled {
    transition: height 0.5s ease; /* Add transition for smooth animation */
    height: 60px; /* Adjust the height as needed */
}

/* Job listing container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}
.input-tags1{
    width: 25vw;
    height: 60px;
}

.btn-explore-all {
    border: 2px solid green;
    background-color: green;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

#btn-heroPage {
    background-color: #00b074;
}

/* Job card styles */

.card {
    width: calc(50% - 16px); /* Two cards per row */
}

@media (min-width: 768px) {
    .card {
        width: calc(25% - 16px); /* Four cards per row */
    }
}

.card-icon {
    font-size: 2rem;
}

.card-title {
    font-weight: bold;
}

.vacancies {
    color: #666;
}

/* Hero section heading */

#heading {
    font-size: 65px;
    line-height: 70px;
}

/* Hero container styles */

#heroPage-container {
    padding: 70px;
}

/* Job card width */

.job-card {
    width: 80vw;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    #heroPage-container {
        padding: -50px;
    }

    #hero-container1 {
        margin-bottom: -50px;
    }

    #heading {
        font-size: 45px;
    }

    #hero-image {
        width: 450px;
        height: 550px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1023px) {
    #hero-container1 {
        margin-bottom: -50px;
    }

    #heading {
        font-size: 45px;
    }

    #btn-heroPage {
        width: 100px;
        height: 40px;
    }

    #input-tags-container {
        flex-direction: row;
    }
}

/* Media queries for smaller screens */

@media screen and (min-width: 600px) and (max-width: 819px) {
    #hero-container1 {
        margin-bottom: -50px;
    }

    #heading {
        font-size: 40px;
    }

    #btn-heroPage {
        width: 100px;
        height: 40px;
    }

    #hero-image {
        width: 350px;
        height: 450px;
    }

    #icons-div2 {
        flex-direction: column;
        align-items: center;
    }

    #icons-div1 {
        flex-direction: column;
        align-items: center;
    }

    #navbar {
        padding: 10px 50px;
    }

   
}

@media screen and (min-width: 400px) and (max-width: 766px) {
    #heading {
        font-size: 32px;
    }

    .input-tags1 {
        width: 80vw;
    
    }

    #btn-heroPage {
        width: 300px;
        height: 50px;
    }

    .option-items {
        width: 300px;
    }

    #icons-div2 {
        flex-direction: column;
        align-items: center;
    }

    #icons-div1 {
        flex-direction: column;
        align-items: center;
    }

    .hero-image-container {
        padding-bottom: 100px;
    }

    #categeries-cards-container {
        padding: 40px;
    }
}

@media screen and (min-width: 344px) and (max-width: 399px) {
    #heading {
        font-size: 32px;
    }

    #input-tags-container {
        flex-direction: column;
    }

    .input-tags1 {
        width: 300px;
        height: 50px;
    }

    #btn-heroPage {
        width: 300px;
        height: 50px;
    }
}
